{{- if .Values.deployment.create -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "microservice-chart.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "microservice-chart.labels" . | nindent 4 }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: {{ .Values.deployment.replicas }}
  selector:
    matchLabels:
      {{- include "microservice-chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- if .Values.deployment.forceRedeploy }}
        redeploy: {{ now | unixEpoch | quote }}
        {{- end }}
        aadpodidbinding: "{{ .Values.namespace }}-pod-identity"
        {{- include "microservice-chart.selectorLabels" . | nindent 8 }}
        {{- include "microservice-chart.extraLabels" . | nindent 8 }}
    spec:
      automountServiceAccountToken: false
      serviceAccountName: {{ include "microservice-chart.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
          {{- range .Values.service.ports }}
            - name: app-port-{{ . }}
              containerPort: {{ . }}
              protocol: TCP
          {{- end }}
          livenessProbe:
            {{- if eq .Values.livenessProbe.handlerType "tcpSocket" }}
            tcpSocket:
              port: {{ .Values.livenessProbe.tcpSocket.port }}
            {{- else }}
            httpGet:
              path: {{ .Values.livenessProbe.httpGet.path }}
              port: {{ .Values.livenessProbe.httpGet.port }}
            {{- end}}
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          readinessProbe:
            {{- if eq .Values.readinessProbe.handlerType "tcpSocket" }}
            tcpSocket:
              port: {{ .Values.readinessProbe.tcpSocket.port }}
            {{- else }}
            httpGet:
              path: {{ .Values.readinessProbe.httpGet.path }}
              port: {{ .Values.readinessProbe.httpGet.port }}
            {{- end}}
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: {{ .Values.tmpFolder.name }}
              mountPath: {{ .Values.tmpFolder.mountPath }}
            {{- if or .Values.envSecret .Values.fileShare.create }}
            - name: secrets-store-inline
              mountPath: "/mnt/secrets-store"
              readOnly: true
            {{- end }}
            {{- if .Values.fileConfig }}
            {{- range $key, $val := .Values.fileConfig }}
            - name: file-config
              mountPath: "/mnt/file-config/{{ $key }}"
              subPath: {{ $key }}
              readOnly: true
            {{- end }}
            {{- end }}
            {{- if .Values.fileConfigExternals.create }}
            {{- range $k, $v := .Values.fileConfigExternals.configMaps }}
            - name: file-config-external-{{ $v.key | sha1sum | trunc 5 }}
              mountPath: "/mnt/file-config-external/{{ $v.name }}/{{ $v.key }}"
              subPath: {{ $v.key }}
              readOnly: true
            {{- end }}
            {{- end }}
            {{- if .Values.fileShare.create }}
            {{- range $k, $v := .Values.fileShare.folders }}
            - name: file-azure-{{ $v.name }}
              mountPath: "/mnt/file-azure/{{ $v.name }}"
            {{- end }}
            {{- end }}
          env:
            #secrets
            {{- range $name, $value := .Values.envSecret }}
            - name: {{ $name }}
              valueFrom:
                secretKeyRef:
                  name: {{ include "microservice-chart.fullname" $ }}
                  key: {{ $value }}
            {{- end }}
            #configmap
            {{- range $key, $val := .Values.envConfig }}
            - name: {{ $key }}
              valueFrom:
                configMapKeyRef:
                  name: {{ include "microservice-chart.fullname" $ }}
                  key: {{ $key }}
            {{- end }}
            #field ref
            {{- range $key, $val := .Values.envFieldRef }}
            - name: {{ $key }}
              valueFrom:
                fieldRef:
                  fieldPath: {{ $val }}
            {{- end }}
            #external configmap values
            {{- range $key, $valMap := .Values.envConfigMapExternals }}
            {{- range $internKey, $internVal := $valMap }}
            - name: {{ $internKey }}
              valueFrom:
                configMapKeyRef:
                  name: {{ $key }}
                  key: {{ $internVal }}
            {{- end }}
            {{- end }}
        {{- with .Values.sidecars }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      volumes:
        - name: {{ .Values.tmpFolder.name }}
          emptyDir: {}
        {{- if .Values.fileShare.create }}
        {{- range $k, $v := .Values.fileShare.folders }}
        - name: file-azure-{{ $v.name }}
          csi:
            driver: file.csi.azure.com
            readOnly: {{ $v.readOnly }}
            volumeAttributes:
              secretName: {{ include "microservice-chart.fullname" $ }}
              shareName: {{ $v.name }}
              mountOptions: {{ $v.mountOptions }}
        {{- end }}
        {{- end }}
        {{- if or .Values.envSecret .Values.fileShare.create }}
        - name: secrets-store-inline
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: {{ include "microservice-chart.fullname" $ }}
        {{- end }}
        {{- if .Values.fileConfig }}
        - name: file-config
          configMap:
            name: {{ include "microservice-chart.fullname" $ }}
            defaultMode: 420
            items:
          {{- range $key, $val := .Values.fileConfig }}
              - key: {{ $key }}
                path: {{ $key }}
          {{- end }}
        {{- end }}
        {{- if .Values.fileConfigExternals.create }}
        {{- range $k, $v := .Values.fileConfigExternals.configMaps }}
        - name: file-config-external-{{ $v.key | sha1sum | trunc 5 }}
          configMap:
            name: {{ $v.name }}
            defaultMode: 420
            items:
              - key: {{ $v.key }}
                path: {{ $v.key }}
        {{- end }}
        {{- end }}
      restartPolicy: {{ .Values.restartPolicy }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  {{- with .Values.strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
