{{- if and .Values.canaryDelivery.create  .Values.canaryDelivery.deployment.create -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "microservice-chart.fullnamecanaryDelivery" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "microservice-chart.labelscanaryDelivery" . | nindent 4 }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: {{ .Values.deployment.replicas }}
  selector:
    matchLabels:
      {{- include "microservice-chart.selectorLabelscanaryDelivery" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        aadpodidbinding: "{{ .Values.namespace }}-pod-identity"
        {{- include "microservice-chart.selectorLabelscanaryDelivery" . | nindent 8 }}
    spec:
      automountServiceAccountToken: false
      serviceAccountName: {{ include "microservice-chart.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.canaryDelivery.deployment.image.repository }}:{{ .Values.canaryDelivery.deployment.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.canaryDelivery.deployment.image.pullPolicy }}
          ports:
            - name: app-port-{{ .Values.service.port }}
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
{{ toYaml .Values.livenessProbe | indent 12 }}
          readinessProbe:
{{ toYaml .Values.readinessProbe | indent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- if .Values.canaryDelivery.deployment.envSecret }}
          volumeMounts:
            - name: secrets-store-inline
              mountPath: "/mnt/secrets-store"
              readOnly: true
          {{- end }}
          env:
            {{- range $name, $value := .Values.canaryDelivery.deployment.envSecret }}
            - name: {{ $name }}
              valueFrom:
                secretKeyRef:
                  name: {{ include "microservice-chart.fullname" $ }}
                  key: {{ $value }}
            {{- end }}
            {{- range $key, $val := .Values.canaryDelivery.deployment.envConfig }}
            - name: {{ $key }}
              valueFrom:
                configMapKeyRef:
                  name: {{ include "microservice-chart.fullnamecanaryDelivery" $ }}
                  key: {{ $key }}
            {{- end }}
        {{- if .Values.canaryDelivery.ingress.create }}
        - name: crt-mounter
          securityContext:
            allowPrivilegeEscalation: false
          image: alpine:latest
          command: ['tail', '-f', '/dev/null']
          resources:
            requests:
              memory: 16Mi
              cpu: 50m
            limits:
              memory: 32Mi
              cpu: 100m
          volumeMounts:
            - name: secrets-store-inline-crt
              mountPath: "/mnt/secrets-store-crt"
              readOnly: true
        {{- end }}
      volumes:
        {{- if .Values.canaryDelivery.deployment.envSecret }}
        - name: secrets-store-inline
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: {{ include "microservice-chart.fullname" $ }}
        {{- end }}
        {{- if .Values.canaryDelivery.ingress.create }}
        ### ingress tls cert
        - name: secrets-store-inline-crt
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: {{ .Values.ingress.host | replace "." "-" }}-{{ include "microservice-chart.fullname" . }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
