namespace: ""
nameOverride: ""
fullnameOverride: ""

progressiveDelivery:
  create: true
  weighed:
    create: false
    weight: 0

image:
  repository: ""
  tag: "v0.0.0"
  pullPolicy: Always

livenessProbe:
  httpGet:
    path: /healthz/live
    port: 80
  initialDelaySeconds: 60
  failureThreshold: 6
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /healthz/ready
    port: 80
  initialDelaySeconds: 60
  failureThreshold: 6
  periodSeconds: 10

deployment:
  create: true

service:
  create: true
  type: ClusterIP
  port: 80

ingress:
  create: false
  host: ""
  path: ""
  pathType: ImplementationSpecific
  forceSslRedirect: true
  rewriteTarget: /$1

serviceAccount:
  create: false
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext:
  seccompProfile:
    type: RuntimeDefault

securityContext:
  allowPrivilegeEscalation: false

resources:
  requests:
    memory: "96Mi"
    cpu: "40m"
  limits:
    memory: "128Mi"
    cpu: "150m"

autoscaling:
  enable: false
  minReplica: 1
  maxReplica: 1
  pollingInterval: 10 # seconds
  cooldownPeriod: 300 # seconds
  triggers: []

envConfig: {}

#
# Secrets
#
envSecret: {}

secretProviderClass:
  create: true

keyvault:
  name: ""
  tenantId: ""
###

nodeSelector: {}

tolerations: []

affinity: {}
