replicaCount: 1

image:
  repository: dvopladneuacr.azurecr.io/templatemicroserviziok8s
  tag: "latest"
  pullPolicy: Always

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    memory: "64Mi"
    cpu: "100m"
  limits:
    memory: "128Mi"
    cpu: "250m"

envConfig:
  USER: my-user

envSecret:
  PASS: helm-template-password

keyvault:
  name: "dvopla-d-neu-kv"
  identityId: "ea85faba-9a8a-4f8b-b7a8-c750c1b68de5"
  tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"

tlsSecretProviderClass: ingress-tls

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

reloader:
  watchGlobally: false
